.regions {
  font-family: Garamond, serif;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: stretch;
  color: white;
}

.region-wrapper {
  width: 100%;
  height: 30vh;
  overflow: hidden;
  position: relative;
}

.region-wrapper div {
  width: 100%;
  height: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: all 0.5s;
}

.region-wrapper:hover {
  border: 0.5vh solid white;
  box-sizing: border-box;
}

.regions div p {
  font-size: 36px;
  padding-top: 13vh;
  padding-bottom: 13vh;
  text-transform: capitalize;
  transition: all 1s;
}

.region-mondstadt {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(./2020021114275255981.jpg);
  width: 100%;
}

.region-mondstadt:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(./2020021114275255981.jpg);
  width: 100%;
  transform: scale(1.1);
  transform-origin: top;
}

.region-liyue {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(./2020052612372361982.jpg);
  width: 100%;
}

.region-liyue:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)),
    url(./2020052612372361982.jpg);
  width: 100%;
  transform: scale(1.1);
  transform-origin: top;
}

.region-inazuma {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(./2021072015230536749.jpg);
  width: 100%;
}

.region-inazuma:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)),
    url(./2021072015230536749.jpg);
  width: 100%;
  transform: scale(1.1);
  transform-origin: top;
}

.region-comingsoon {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(./9a62be8.jpg);
  background-size: cover;
  width: 100%;
  height: 30vh;
  color: rgba(255, 255, 255, 0.3);
}
