.regions {
  font-family: Helvetica, sans-serif, serif;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: stretch;
  color: white;
}

.region-wrapper {
  width: 100%;
  height: 30vh;
  overflow: hidden;
  position: relative;
}

.region-wrapper div {
  width: 100%;
  height: 30vh;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: all 0.5s;
}

.region-wrapper:hover {
  border: 0.5vh solid white;
  box-sizing: border-box;
}

.regions div p {
  font-size: 36px;
  z-index: 4;
  position: absolute;
  bottom: 45%;
  left: 0;
  right: 0;
  margin: auto;
  text-transform: capitalize;
  transition: all 1s;
}

.region-mondstadt {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(./assets/2020021114275255981.jpg);
  width: 100%;
}

.region-wrapper:hover .region-mondstadt {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(./assets/2020021114275255981.jpg);
  width: 100%;
  transform: scale(1.1);
  transform-origin: top;
}

.region-wrapper:hover .region-hoverchar {
  opacity: 1;
}

.region-liyue {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(./assets/2020052612372361982.jpg);
  width: 100%;
}

.region-wrapper:hover .region-liyue {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)),
    url(./assets/2020052612372361982.jpg);
  width: 100%;
  transform: scale(1.1);
  transform-origin: top;
}

.region-inazuma {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(./assets/2021072015230536749.jpg);
  width: 100%;
}

.region-wrapper:hover .region-inazuma {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)),
    url(./assets/2021072015230536749.jpg);
  width: 100%;
  transform: scale(1.1);
  transform-origin: top;
}

.region-comingsoon {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(./assets/9a62be8.jpg);
  background-size: cover;
  width: 100%;
  height: 30vh;
  color: rgba(255, 255, 255, 0.3);
}

.region-star {
  z-index: 2;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.region-hoverchar {
  z-index: 3;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: all 0.5s linear;
}
