.home {
  background-image: url(./47f71d4.jpg);
  min-height: 100vh;
}

.home-main-flex {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.home-main-download-text {
  text-shadow: 0 0 10px rgb(114 71 21 / 68%), 0 0 10px rgb(114 71 21 / 68%);
}

.home-main-download-buttons {
  display: flex;
}
