@font-face {
  font-family: "icomoon";
  src: URL("./assets/22f27ca97c50aa5ea6c7dd6e32967b20_686384518099903488.ttf")
    format("truetype");
}

.home {
  color: white;
  font-size: 30px;
  background-image: url(./assets/47f71d4.jpg);
  min-height: 100vh;
  position: relative;
}

.socials-sidebar {
  opacity: 0;
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0;
  z-index: 999;
  color: black;
  font-size: 18px;
  background-color: white;
  font-weight: 400;
  padding: 1px;
  transition: all 0.5s linear;
}

.socials-sidebar p {
  padding-top: 15px;
  padding: 15px;
}

.socials-sidebar li {
  list-style-type: none;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 120px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 300;
  display: flex;
  justify-content: space-between;
}

.socials-sidebar li:hover {
  cursor: pointer;
  background-color: #333;
  color: #ffd49f;
}

.icon-fb::before {
  font-weight: 400;
  font-family: "icomoon";
  content: "a";
  text-align: left;
}

.icon-twt::before {
  font-family: "icomoon";
  content: "d";
}

.icon-yt::before {
  font-family: "icomoon";
  content: "e";
}

.icon-ig::before {
  font-family: "icomoon";
  content: "b";
}

.icon-discord::before {
  font-family: "icomoon";
  content: "f";
}

.icon-reddit::before {
  font-family: "icomoon";
  content: "g";
}

.icon-hoyo::before {
  font-family: "icomoon";
  content: "i";
}

.home-main-flex {
  min-height: 94vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 4vh;
}

.home-main-video-link {
  position: relative;
}

.video-button {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  border-radius: 50%;
  opacity: 1;
}
.v-button-inactive {
  padding-bottom: 1px;
  z-index: 2;
}
.v-button-inactive:hover {
  opacity: 0;
  cursor: pointer;
}

.home-main-download-text {
  text-shadow: 0 0 10px rgb(114 71 21 / 68%), 0 0 10px rgb(114 71 21 / 68%);
}

.home-main-download-buttons {
  display: flex;
  gap: 1vw;
}

.home-main-download-buttons a {
  opacity: 0.8;
}

.home-main-download-buttons a:hover {
  opacity: 1;
}

.home-main-down-arrow {
  position: relative;
}

.esrb-rating {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1vh;
}

.mda1 {
  position: absolute;
  top: 0;
  -webkit-animation: Main-down-arrow infinite 1.5s ease-in alternate;
  -moz-animation: Main-down-arrow infinite 1.5s ease-in alternate;
  animation: Main-down-arrow infinite 1.5s ease-in alternate;
}
@keyframes Main-down-arrow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.mda2 {
  position: absolute;
  top: 12px;
  -webkit-animation: Main-down-arrow infinite 1.5s ease-in alternate 0.5s;
  -moz-animation: Main-down-arrow infinite 1.5s ease-in alternate 0.5s;
  animation: Main-down-arrow infinite 1.5s ease-in alternate 0.5s;
}

.mda3 {
  position: absolute;
  top: 24px;
  -webkit-animation: Main-down-arrow infinite 1.5s ease-in alternate -1s;
  -moz-animation: Main-down-arrow infinite 1.5s ease-in alternate -1s;
  animation: Main-down-arrow infinite 1.5s ease-in alternate -1s;
}
