.App-header {
  font-family: Arial, Helvetica, sans-serif;

  position: fixed;
  z-index: 4;
  background-color: rgba(0, 0, 0, 65%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 18px;
  color: #ccc;
  width: 100vw;
  min-height: 7vh;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: white;
}

.header-left {
  display: flex;
}

.genshin-logo {
  flex-grow: 1;
}
.genshin-logo:hover {
  color: red;
}

.navigation {
  display: flex;
  flex-grow: 5;
  justify-content: flex-start;
  list-style: none;
  align-items: center;
  gap: 2rem;
  font-size: 14px;
}

.navigation:not(:nth-child(5)) {
  text-transform: uppercase;
}

.navigation-links:nth-child(4) {
  display: flex;
  align-items: center;
  position: relative;
}

.navigation-links:nth-child(4):hover > .nav-dropdown {
  opacity: 1;
}

.navigation-links:nth-child(4)::after {
  content: "";
  display: block;
  border-top: 5px solid #ccc;
  border-left: 4.5px solid transparent;
  border-right: 4.5px solid transparent;
  margin-left: 9px;
}

.navigation-links:hover {
  text-shadow: 0 0 10px #69e0ff, 0 0 20px #69e0ff, 0 0 40px #69e0ff;
  cursor: pointer;
}

.active-page {
  text-shadow: 0 0 10px #69e0ff, 0 0 20px #69e0ff, 0 0 40px #69e0ff;
  cursor: pointer;
}

.nav-dropdown {
  text-shadow: none;
  opacity: 0;
  width: 10vw;
  background-color: #272626;
  position: absolute;
  right: -4vw;
  top: 4.3vh;
  transition: all 0.2s linear;
}

.nav-dropdown:hover {
  text-shadow: none;
}

.nav-dropdown li {
  padding: 15%;
  columns: white;
  list-style-type: none;
}

.nav-dropdown li:hover {
  background-color: #3f3f3f;
}

.logindownload {
  font-size: 14px;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  justify-content: flex-end;
  text-transform: capitalize;
}

.login-link {
  padding-right: 15px;
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.login-link img {
  opacity: 0.6;
}

.login-link:hover {
  color: white;
}

.login-link:hover > img {
  opacity: 1;
}

.download-link {
  color: black;
  background-color: yellow;
}
