.news {
  background-image: url(./assets/29770c4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 96vh;
}

.news h3 {
  width: auto;
  padding-top: 10vh;
  padding-bottom: 10vh;
  font-family: Helvetica;
  text-transform: uppercase;
  color: white;
  font-size: 3rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.news h3::before {
  content: url(./assets/newsbeforeafter.png);
  display: inline-block;
  vertical-align: middle;
}

.news h3::after {
  content: url(./assets/newsbeforeafter.png);
  display: inline-block;
  transform: scaleX(-1);
}

.news-main {
  display: flex;
  justify-content: center;
  height: 400px;
  margin-left: 15%;
  margin-right: 15%;
}

.mySwiper {
  max-width: 100%;
  flex-grow: 1;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-height: 100%;
  max-width: 100%;
  min-height: 400px;
}

.swiper-pagination-bullet {
  width: 18px !important;
  height: 18px !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
  border: solid 2px rgba(255, 255, 255, 0.8) !important;
}

.swiper-pagination-bullet-active {
  background-color: white !important;
}

.news-links {
  box-sizing: border-box;
  padding: 2%;
  min-width: 50%;
  height: 100%;
  color: white;
  background-color: rgba(38, 18, 12, 0.62);
  flex-grow: 1;
}

.newslinks-header {
  color: #ffd49f;
  text-transform: capitalize;
  text-align: left;
  font-weight: 400;
  border-bottom: 3px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    90deg,
    rgba(255, 212, 159, 1) 13%,
    rgba(255, 255, 255, 0.3) 13%
  );
  padding: 2.5%;
}

.news-links li {
  width: auto;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: left;
  padding: 2.5%;
  white-space: nowrap;
}

.news-links li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
