.news {
  background-image: url(./assets/29770c4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 96vh;
}

.news h3 {
  font-family: Helvetica;
}

.news-main {
  display: flex;
  padding: 2vh;
}

.mySwiper {
  height: 40vh;
  background-color: pink;
}

.swiper-pagination-bullet {
  width: 18px !important;
  height: 18px !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
  border: solid 2px rgba(255, 255, 255, 0.8) !important;
}

.swiper-pagination-bullet-active {
  background-color: white !important;
}

.news-links {
  width: 50%;
}
