* {
  padding: 0px;
  margin: 0px;
}

.App {
  text-align: center;
}

.home {
  background-image: url(../assets/47f71d4.jpg);
  min-height: 100vh;
}

.news {
  background-image: url(../assets/29770c4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 96vh;
}

.regions {
  flex-direction: column;
}

.region-mondstadt {
  background-image: url(../assets/2020021114275255981.jpg);
  width: 100%;
  height: 100%;
}

.region-liyue {
  background-image: url(../assets/2020052612372361982.jpg);
  width: 100%;
  height: 100%;
}

.region-inazuma {
  background-image: url(../assets/2021072015230536749.jpg);
  width: 100%;
  height: 100%;
}

.region-comingsoon {
  background-image: url(../assets/9a62be8.jpg);
  width: 100%;
  height: 100%;
}
